//-
  | Mandatory:
  |   posts: List<Post>
  |     A list of posts the user has written. Only the id, title and publishing date of the post need to be set.

each post in posts
  a(href=basePath + "post/view/" + post.id) #{post.title}
  br